.commentWrapper {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	-webkit-box-shadow: 0px 0px 16px -8px rgba(0.68);
	box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
	border-radius: 8px;
	max-width: 900px;
	margin: 8px 0px 8px 64px;
}

.commentTop {
	display: flex;
	flex-direction: column;
}

.commentUserInfo {
	display: flex;
	flex-direction: column;
}

.commentImg {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	object-fit: cover;
}

.commentNanme {
	font-weight: bold;
	color: goldenrod;
	margin-bottom: 5px;
}
.commentUpdate {
	border: none;
	background-color: inherit;
}
.commentUpdate:focus {
	outline: none;
}

.commentItem {
	color: #333;
}

.commentBottom {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
}

.commentDate {
	font-size: smaller;
	color: crimson;
}
.commentUpdateBtn {
	color: white;
	background-color: teal;
	border: none;
	padding: 8px 16px;
	cursor: pointer;
	border-radius: 8px;
}

.commentEdit {
	border-bottom: 1px dotted crimson;
	cursor: pointer;
	color: teal;
}

.commentDelete {
	border-bottom: 1px dotted crimson;
	cursor: pointer;
	margin-left: 20px;
	color: crimson;
}

@media only screen and (max-width: 600px) {
	.commentWrapper {
		margin-left: 55px;
	}
}
