* {
	font-family: "Poppins", sans-serif;
}

.error {
	background-color: rgb(231, 31, 31);
	color: white;
	padding: 6px 0;
	border-radius: 8px;
	text-align: center;
	width: 40%;
	margin: auto;
	margin-bottom: 8px;
	position: fixed;
	top: 80px;
	left: 0;
	right: 0;
	z-index: 999;
}

.success {
	background-color: rgb(4, 184, 4);
	color: white;
	padding: 6px;
	border-radius: 8px;
	text-align: center;
	width: 40%;
	margin: auto;
	margin-bottom: 8px;
	position: fixed;
	top: 80px;
	left: 0;
	right: 0;
	z-index: 999;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1200px;
	margin: auto;
	overflow: hidden;
	padding: 1rem;
	padding-bottom: 3rem;
}
@media only screen and (max-width: 1115px) {
	.container {
		max-width: 1000px;
	}
}
